.first-fold {
    padding: 30px;
    height: 90vh;
    align-items: center;
    display: flex;
}

.first-fold-left {
    width: 40%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 38px;
    }

    h5 {
        margin: 1rem 0;
    }
}

.first-fold-right {
    width: 60%;

    .hero-image {
        width: 100%;
    }
}

.hero-cta {
    background: #EF5C1E;
    color: white;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.2rem;
    display: flex;
    font-family: inherit;
    justify-content: center;
    width: 200px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    height: 58px;

    .arrow {
        color: #fff;
    }

    &:hover {
        .arrow {
            transform: translateX(5px);
            transition: all 0.2s ease-in-out;
            color: #fff;
        }
    }
}


@media only screen and (max-width: 600px) {
    nav {
        overflow: hidden;
    }

    .body-text {
        font-size: 12px;
        margin: 1rem 0;
    }

    .first-fold {
        padding: 0 20px;
        height: 100vh;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
    }

    .first-fold-left {
        width: 100%;
        margin-top: 0;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 38px;
        }
    }

    .first-fold-right {
        width: 100%;
        margin-top: 1rem;
        .hero-image {
            width: 100%;
        }
    }

    .hero-cta {
        font-size: 12px;
        padding: 0.5rem;
        height: 35px;
    }
}