nav {
    height: 64px;
    padding: 0 40px;
    position: relative;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    display: flex;
    color: #000;
    width: 100%;
    align-items: center;

    .nav-center {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 2rem;
    }

    .nav-sign-up {
        width: 120px;
        align-items: center;
        display: flex;
    }

    .nav-logo {
        font-weight: bold;
        color: #EF5C1E;
    }

    .nav-links {
        display: flex;
        align-items: center;
    }
}

.orange-link {
    color: #EF5C1E;
}